<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Employee List </title>
</head>
<body>
<div class="container my-2">
    <h1>Employees List</h1>


    <a th:href="@{/showNewUsersForm}" class="btn btn-primary btn-sm mb-3"> Add Users </a>
    <div class="card">
        <div class="card-body">

    <table  class="table table-striped table-sm table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Users ID</th>
            <th>Users First Name</th>
            <th>Users Last Name</th>
            <th>Users Email</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${listUser}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td> <a th:href="@{/showFormForUpdate/{id}(id=${user.id})}" class="btn btn-outline-primary ">Update</a>
                <a th:href="@{/deleteUsers/{id}(id=${user.id})}" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
        </div>
    </div>
</div>
</body>
</html>